AAT.FileServer/SchemaFiles/party.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="party">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:int" name="applicationno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>